<p style="color: green"><%= notice %></p>

<%= render @author %>

<div class="d-flex justify-content-between">
  <p class="text-dark">Total Book: <%= @author.books_count %></p>  
  <%= @author.books.size %>
  <%= link_to "New book", [:new, @author, :book], class: "btn btn-primary" %>
</div>
<div class="card-body py-3">      
  <div class="table-responsive overflow-auto" id="admin_groups">
    <table class="table table-bordered table-row-gray-100 align-middle gs-0 gy-3">
      <thead>
        <tr class="fw-bolder text-muted"> 
          <th>Name</th>
          <th>Price</th>
          <th>Author</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody> 
        <%= render @books %>        
      </tbody>
    </table>
  </div>
</div>

<div>
  <%= link_to "Edit this author", edit_author_path(@author) %> |
  <%= link_to "Back to authors", authors_path %>

  <%= button_to "Destroy this author", @author, method: :delete %>
</div>

